body {
	/*background-color: #84C1FF;*/
	background-image: url("../../src/imgs/bg.jpg");
	background-size: 100%;
}

.single-list {

}

.content {
	margin: 1% 1% 1% 1%;
	background-color: white;
	border-radius: 1em;
}