body {
	background-color: #84C1FF;
	/*background-image: url("../../src/imgs/bg.jpg");*/
	background-size: 100%;
}

.single-list {

}

.menu {
	float: left;
	width: 100%;
	margin: 1% 1% 1% 1%;
	background-color: white;
}

.content {
	float: left;
	width: 65%;
	margin: 1% 1% 1% 1%;
	border-radius: 1em;
}